In [1]:
dict1 = {
   "april_batch":{
      "student":{
         "name":"Mike",
         "marks":{
            "python":80,
            "maths":70
         }
       }
     }
   }
# accessing "Mike"
dict1 ["april_batch"]["student"]["name"]

'Mike'

In [2]:
# access 80
dict1 ["april_batch"]["student"]["marks"]["python"]

80

In [3]:
# changing "Mike" to "Navya"
dict1["april_batch"]["student"]["name"] = "Navya"
dict1

{'april_batch': {'student': {'name': 'Navya',
   'marks': {'python': 80, 'maths': 70}}}}

In [4]:
# adding ML = 80 and DL = 80 inside marks
del dict1["april_batch"]["student"]["marks"]["python"] 
del dict1["april_batch"]["student"]["marks"]["maths"] 
dict1

{'april_batch': {'student': {'name': 'Navya', 'marks': {}}}}

In [6]:
dict1["april_batch"]["student"]["marks"]["ML"] = 80
dict1["april_batch"]["student"]["marks"]["DL"] = 80
dict1

{'april_batch': {'student': {'name': 'Navya', 'marks': {'ML': 80, 'DL': 80}}}}